* {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 500;
}

header {
    height: 95vh;
}

.topnav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    z-index: 2;
    position: fixed;
    margin: 0%;
    padding-left: 0;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

.scroll {
    text-decoration: none;
}

.toplist {
    padding: 2vh 4vw;
    background-color: white;
    color: black;
    opacity: 0.5;
    text-decoration: none;
}

.yellownav {
    padding: 2vh 4vw;
    background-color: #FBD334;
    color: black;
    opacity: 1;
    text-decoration: none;
}

.about {
    border-bottom-left-radius: 3vh;
}

.toplist:hover {
    background-color: grey;
    color: black;
    transition: 0.5s;
}

.yellownav:hover {
    color: black;
    transition: 0.5s;
    background-color: white;
    text-decoration: #FBD334;
}

.d-block {
    width: 100vw;
    min-height: 
}

li {
    list-style-type: none;
}

.carousel {
    z-index: 1;
    position: relative;
    top: -22vh;
}

.container {
    position: relative;
    z-index: 10;
    top: 55vh;
    background-color: white;
    opacity: 0.7;
    max-width: 40vw;
    text-align: center;
    font-size: 4vh;
}

.harry {
    font-size: 9vh;
}

hr {
    width: 20vw;
    border: 0.5px solid black;
}

.developer {
    font-size: 5vh;
}

main {
    margin: 0vh 10vw;
}

.aboutharry {
    text-decoration: underline;
    text-decoration-color: #FBD334;
    margin-bottom: 4vh;
}

.harryimg {
    height: auto;
    width: auto;
    max-width: 20vw;
    max-height: 20vw;
    border: 2px solid #FBD334;
    padding: none;
    /* padding-left: 3vh; */
}

.floor {
    display: flex;
    flex-direction: row;
    /* margin: 0vh 10vw; */
    max-height: 50vh;
    max-width: auto;
}

.ceiling {
    max-width: 100vw;
}

.row {
    display: flex;
    flex-direction: row;
}

.github {
    background-color: #FBD334;
    display: flex;
    justify-content: center;
    padding: none;
}

.github:hover {
    text-decoration: none;
    background-color: #E5E5E5;
    border: 2px solid #FBD334;
    padding: none;
}

.column {
    flex: 33%;
    padding: 2vh;
}

#column1::first-letter {
    font-size: 4.5em;
    float: left;
    margin-right: 1vw;
    line-height: 8vh;
    color: #FBD334;
}

.heading2 {
    margin-top: 10vh;
    text-decoration: underline;
    text-decoration: underline;
    text-decoration-color: #FBD334;
    margin-bottom: 6vh;
}

.portfolio {
    background-color: #E5E5E5;
    padding: 0.5vh;
    margin: 1vh;
}

.title {
    background-color: #FBD334;
    text-align: center;
    border-radius: 5px;
}

.portfolioimg {
    height: 40vh;
    width: auto;
}

#page1 {
    display: flex;
    flex-direction: row;
}

#page2 {
    display: flex;
    flex-direction: row;
}

#page3 {
    display: flex;
    flex-direction: row;
}

.rain {
    font-size: 3vh;
    padding-left: 1vw;
}

.heading3 {
    font-size: 3vh;
}

.said {
    margin-left: 3vw;
}

#nice {
    margin-bottom: 2vh;
}

.two {
    display: flex;
    justify-content: center;
}

.three {
    width: 40vw;
    margin-right: 0.3vw;
}

.four {
    width: 40vw;
    margin-left: 0.3vw;
}

.message {
    margin: 1vh 0;
    height: 20vh;
    color: grey;
}

.three, .four, .submit, .message {
    padding: 1vh;
    box-sizing: border-box;
    border: 2px solid #FBD334;
}

.submit {
    margin-bottom: 2vh;
}

.submit:hover {
    text-decoration: none;
    background-color: #FBD334;
    border: 2px solid #FBD334;
}

.comment3 {
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.social {
    margin: 2vh;
}

footer {
    background-color: #FBD334;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.copyright {
    margin-top: 3vh;
}

@media only screen and (max-width: 1315px) {
    .carousel {
        z-index: 1;
        position: relative;
        top: -30vh;
    }
    .container {
        position: relative;
        z-index: 10;
        top: 45vh;
        background-color: white;
        opacity: 0.7;
        max-width: 60vw;
        text-align: center;
    }
}